.container {
  margin-bottom: 2vh;
}
.searchBoxContainer {
  margin: 4vh auto;
  width: 40%;
  font-size: 0.85rem;
}

@media (max-width: 1200px) {
  .container {
    width: 96vw !important;
    padding: 0 1vw;
    margin: 0 auto;
  }
}
.select {
  margin: 0;
  padding: 0;
  margin-left: -4px;
  border: none;
  outline: none;
}
.item .iconCss {
  display: none;
}

.item:hover .iconCss {
  display: block;
}
.iconCss:active {
  transition: ease-in-out 75ms;
  background-color: rgba(0, 0, 0, 0.1);
}
