.tablesKnowledge {
  margin: auto;
  justify-content: center;
  width: 700px;
  padding: 10px;
}

.empty {
  margin: 1px;
  float: left;
  width: 20px;
  height: 20px;
  background-color: #0f9d58;
}
.nonEmpty {
  margin: 1px;
  float: left;
  width: 20px;
  height: 20px;
  background-color: #babcbe;
}
.serve {
  margin: 1px;
  float: left;
  width: 20px;
  height: 20px;
  background-color: #db4437;
}

.tables {
  margin: auto;
  overflow: auto;
  justify-content: center;
  align-items: center;
  width: 700px;
  height: 500px;
}

.tableItem {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 76px;
  height: 76px;
  background-color: #babcbe;
}
.tableOuterDiv {
  display: inline-block;
  padding: 10px;
}
